/* TEMPLATE 1 */
.template1 {
    display: flex;
    align-items: center;
	width: 100%;
	background: #faf5f0;
	border: 1px solid gray;
	box-shadow: 0px 3px 3px #611905;
	margin: 24px auto;
	padding: 24px 10px;
	text-align: center;
}

.template1 > div:first-child {
	flex-basis: 34% !important;
	width: 100% !important;
}

.template1 > div:first-child img {
	width: 75%;
}
.template1 > div:nth-child(2) {
	flex-basis: 40%;
}
.template1 > div:nth-child(3) {
	flex-basis: 25%;
}

.template1 .wp-block-column .wp-block-image {
	margin: 16px;
}

.wp-block-column:not(:first-child) {
    margin-left: 0px;
}

.wp-block-buttons .wp-block-button {
	margin: 0;
}

.template1 .wp-block-column .wp-block-buttons .wp-block-button a {
	padding: 10px 20px;
	border: 2px solid black;
	background-color: #365E31;
	color: white;
	font-size: 20px;
	transition: 1s;
}

.template1 .wp-block-column .wp-block-buttons .wp-block-button a:hover {
	border: 2px solid black;
	background-color: #172815 !important;
	color: white;
	transform: scale(1.15);
}

.template1 .wp-block-column ul li {
	margin: 16px 0;
	text-align: left;
	font-size: 18px;
}

.template1 .wp-block-column ul li::marker {
	color: #172815;
	font-size: 23px;
}


/* TEMPLATE 2 */

.template2 {
	width: 100%;
	min-height: 217px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	border: 2px solid #34d399;
	padding: 8px;
	background: #faf5f0;
	border: 1px solid gray;
	box-shadow: 0px 3px 3px #611905;
}

.template2 > div {
	flex-basis: 50%;
}

.template2 h3 {
	margin-left: 40px;
	font-size: 30px;
}

@media(max-width: 768px) {
	.template2 h3 {
		margin-left: 8px;
	}
}

.template2 > div:first-child h3  {
	color: #1b4d1b;
}

.template2 > div:nth-child(2) h3 {
	color: #962424;
}

.template2 ul {
	text-align: center;
}

.template2 ul li {
	margin: 10px 0;
	font-size: 20px;
}


/* TEMPLATE 10 */

.template10 {
	width: 45%;
	margin: 16px auto;
	border: 2px solid black;
}

.template10 tbody > tr  {
	background-color: white !important;
}

.template10 tbody > tr:first-child td {
	line-height: 2;
	background: white !important;
	color: black !important;
	border: 1px dashed black;
	font-size: 22px;
}

.template10 tbody > tr:nth-child(2) td {
	line-height: 2;
}

.template10 tbody > tr:nth-child(3) td{
	font-size: 54px;
	font-weight: bold;
	line-height: 1.7;
}

.template10 tbody > tr:nth-child(n+4) td{
	font-weight: bold;
	line-height: 1.2;
}

.template10 tbody > tr:nth-child(7) td {
	width: 40%;
	display: block;
	line-height: 2;
	border: 1px solid black;
	border-radius: 15px;
	margin: 24px auto;
	background: #272c30;
	color: white;
	font-weight: 700;
	cursor: pointer;
	transition: 0.7s;
}
.template10 tbody > tr:nth-child(7) td:hover {
	background: #424547;
}