/* TEMPLATE 1 */
.template1 {
    display: flex;
    align-items: center;
	width: 100%;
	background: #faf5f0;
	border: 1px solid gray;
	box-shadow: 0px 3px 3px #611905;
	margin: 24px auto;
	padding: 24px 10px;
	text-align: center;
}

.template1 > div:first-child {
	flex-basis: 34% !important;
	width: 100% !important;
}

.template1 > div:first-child img {
	width: 75%;
}
.template1 > div:nth-child(2) {
	flex-basis: 40%;
}
.template1 > div:nth-child(3) {
	flex-basis: 25%;
}

.template1 .wp-block-column .wp-block-image {
	margin: 16px;
}

.wp-block-column:not(:first-child) {
    margin-left: 0px;
}

.wp-block-buttons .wp-block-button {
	margin: 0;
}

.template1 .wp-block-column .wp-block-buttons .wp-block-button a {
	padding: 10px 20px;
	border: 2px solid black;
	background-color: #365E31 !important;
	color: white;
	font-size: 20px;
	transition: 1s;
}

.template1 .wp-block-column .wp-block-buttons .wp-block-button a:hover {
	border: 2px solid black;
	background-color: #172815 !important;
	color: white;
	transform: scale(1.15);
}

.template1 .wp-block-column ul li {
	color: #1C1C1C;
	margin: 16px 0;
	text-align: left;
	font-size: 18px;
}

.template1 .wp-block-column ul li::marker {
	color: #172815;
	font-size: 23px;
}