/* TEMPLATE 1 */
.template1 {
    display: flex;
    align-items: center;
	width: 80%;
	background: #faf5f0;
	border: 1px solid gray;
	margin: 8px auto;
	padding: 24px 10px;
	text-align: center;
	transition: 1s;
}

.template1 > div:first-child {
	flex-basis: 34% /* !important */;
	width: 100% /* !important */;
}

.template1 > div:first-child img {
	width: 75%;
}
.template1 > div:nth-child(2) {
	flex-basis: 40%;
}
.template1 > div:nth-child(3) {
	flex-basis: 25%;
}

.template1 .wp-block-column .wp-block-image {
	margin: 16px;
}

.template1 .wp-block-column:not(:first-child) {
    margin-left: 0px;
}

.template1 .wp-block-buttons .wp-block-button {
	margin: 0;
}

.template1 .wp-block-column .wp-block-buttons .wp-block-button a {
	/* padding: 10px 20px; */
	border: 2px solid black;
	color: white;
	font-size: 20px;
	transition: 1s;
	cursor: pointer;
}

.template1 .wp-block-column .wp-block-buttons .wp-block-button a:hover {
	transform: scale(0.93);
}

.template1 .wp-block-column ul li {
	margin: 16px 0;
	text-align: center;
	font-size: 18px;
	list-style-position:inside;
}

.template1 .wp-block-column ul li::marker {
	color: #172815;
	font-size: 23px;
}

@media (max-width:768px) {
	.template1 {
		flex-wrap: wrap;
	}
	.template1 > div{
	 	flex-basis: 100% !important;
		 align-self: center;
	}
	.template1 .wp-block-column .wp-block-buttons .wp-block-button {
		margin-top: 24px;
	}
}


/* TEMPLATE 2 */

.template2 {
	width: 95%;
	display: flex;
	flex-wrap: wrap;
	transition: 1s;
	padding: 8px 4px;
	margin: 0 auto;
}

.template2 h3 {
	font-size: 24px;
	font-weight: bold;
}

.template2 > div {
	flex-basis: 49%;
	margin: 0 auto;
	padding: 0px 16px;
}

.template2 > div:first-child h3  {
	color: #1b4d1b;
}

.template2 > div:nth-child(2) h3 {
	color: #962424;
}

.template2 ul {
	padding: 0;
	list-style: none;
}

.template2 ul > * {
	text-align: left;
}

.template2 ul li {
	margin: 10px 0;
	font-size: 18px;
	list-style-position:inside;
}


/* TEMPLATE 3*/

.template3 {
	width: 80%;
	margin: 0 auto;
	border: 1px solid lightgray;
	padding: 16px 24px;
	overflow-x: auto;
	transition: 1s;
	text-align: center;
}

.template3 table {
	width: 100%;
	border-collapse: collapse;
}

.template3 tbody > tr:first-child td {
	font-size: 28px;
	line-height: 3;
}

@media(max-width: 768px) {
	.template3 tbody > tr:first-child td {
		line-height: 1.5;
	}
	.template3 tbody > tr:nth-child(2) td {
		display: block;
		margin: 16px 0;
	}
	.template3 tbody > tr:nth-child(3) td a{
		width: 95% !important;
	}
}

.template3 tbody > tr:nth-child(3) td a{
	line-height: 4.5;	
	padding: 10px 16px;
	background-color: #824cc2;
	color: white;
	font-size: 20px;
	text-decoration: none;
	transition: 1s;
}

.template3 tbody > tr:nth-child(3) td a:hover{
	transform: scale(0.93);
}


/* TEMPLATE 4 */

.template4 {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 3px 12px;	
	transition: 1s;
}

.template4 > div {
	flex-grow: 1;
	flex-basis: 0;
	word-break: break-word;
	overflow-wrap: break-word;
	margin: 0px 16px;
}

.template4 h4{
	font-size: 23px;
	text-align: center;
}

.template4 > div:first-child h4 {
	color: #274323;
	border-bottom: 3px solid #274323;
	border-collapse: separate;
	border-spacing: 50px;
	margin: 16px 16px 24px 0px;
}


.template4 > div:nth-child(2) h4 {
	color: #b02e2e;
	border-bottom: 3px solid #b02e2e;
	margin: 16px 0px 24px 16px;
}

.template4 > div:first-child h5 {
	color: #274323;
	margin: 0;
}

.template4 > div:nth-child(2) h5 {
	color: #b02e2e;
}

.template4 ul li {
	margin: 24px 0;
}

.template4 ul {
	list-style: none;
	padding-left: 0px;
}

/* TEMPLATE 5 */

.template5 {
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	border: 1px solid lightgray;
	margin: 0 auto;
	transition: 1s;
}

.template5 > div {
	flex-basis: 0;
	flex-grow: 1;
	min-width: 0;
	word-break: break-word;
	overflow-wrap: break-word;
}

.template5 > div figure {
	margin: 16px 40px;
}

.template5 > div figure table{
	width: 100%;
}

.template5 > div:first-child tr:first-child td {
	font-size: 28px;
	line-height: 2.5;
}

.template5 > div:first-child tr td {
	font-size: 18px;
	line-height: 2.3;
}

.template5 > div:first-child tr:nth-child(6) td {
	text-align: center;
}

.template5 > div:first-child tr:nth-child(6) td a {
	border: 1px solid black;
	cursor: pointer;
	text-decoration: none;
	font-size: 20px;
	line-height: 3.5;
	transition: 0.7s;
}

.template5 > div:first-child tr:nth-child(6) td a:hover {
	transform: scale(0.93);
}

.template5 > div:nth-child(2) figure table tbody tr td img{
	width: 100% !important;
	max-height: 300px;
	margin: 8px 0;
}

@media(max-width: 768px) {
	.template5 {
		display: block;
		width: 100%;
	}
	.template5 > div figure {
		margin: 16px;
	}
	.template5 > div:first-child tr:first-child td {
		font-size: 26px;
		line-height: 1.7;
		text-align: center;
	}
	.template5 > div:first-child tr td {
		font-size: 16px;
		line-height: 2;
		text-align: center;
	}
	.template5 > div:nth-child(2) tr td {
		text-align: center;
	}
	.template5 > div:nth-child(2) figure table tbody tr td img{
		width: 50%!important;
	}
}

@media(max-width: 480px) {
	.template5 > div:nth-child(2) figure table tbody tr td img{
		width: 95%!important;
	}
}

/* TEMPLATE 6 */

.template6 {
	width: 35%;
	margin: 16px auto;
	padding: 24px 24px;
	border: 1px solid lightgray;
	transition: 1s;
}

.template6 table {
	border-collapse: collapse;
	text-align: center;
	
}

.template6 tbody > tr td {
	border: 0 !important;
}

.template6 tbody > tr:first-child td {
	font-size: 28px;
	line-height: 1.3;
}

.template6 tbody > tr:nth-child(2) td img{
	width: 80% !important;
	max-height: 300px;
	margin: 16px 0;
}

.template6 tbody > tr:nth-child(3) td {
	font-size: 42px;
	line-height: 2;
}

.template6 tbody > tr:nth-child(n+4) td {
	font-weight: bold;
	line-height: 1.7;
	font-size: 19px;
}

.template6 tbody > tr:nth-child(7) td a {
	border: 1px solid black;
	cursor: pointer;
	transition: 0.7s;
	text-decoration: none;
	font-size: 20px;
	text-align: center;
	line-height: 4.5;
	transition: 0.7s;
}

@media(max-width: 768px) {
	.template6 {
		width: 95%;
		padding: 8px;
	}
}

/* TEMPLATE 7 */
.template7 {
	width: 72%;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
}
.template7 > div {
	flex-basis: 50%;
}
.template7 > div figure img {
	height: 100%;
	width: 100%;
}
.template7 ol{list-style:none;counter-reset:item;padding-left:8px;}
.template7 ol li{counter-increment:item;margin:32px 0;padding-right:5px}
.template7 ol li:before{margin-right:8px;content:counter(item);background:#f8a5c2;border-radius:100%;color:#000;width:2em;text-align:center;display:inline-block;font-size:20px}

.wp-block-column:not(:first-child) {
    margin-left: 0;
}

.template7 > div figure {
	height: 100% !important;
}

.template7 > div figure img {
	height: 100%;
}

@media(max-width:920px) {
	.template7{
		width: 95%;
	}
}

@media(max-width:768px) {
	.template7{
		flex-direction: column;
	}
}

/* TEMPLATE 10 */

.template10 {
	width: 40%;
	margin: 8px auto;
	border: 2px solid black;
	overflow-x: auto;
	transition: 1s;
}

.template10 table {
	width: 100%;
	border-collapse: collapse;
	text-align: center
}

.template10 tbody > tr:first-child td {
	line-height: 3;
	border: 1px dashed black;
	font-size: 22px;
	font-weight: bold;
}

.template10 tbody > tr:nth-child(2) td {
	line-height: 3;
}

.template10 tbody > tr:nth-child(3) td{
	font-size: 54px;
	font-weight: bold;
	line-height: 2;
}

.template10 tbody > tr:nth-child(n+4) td{
	font-weight: bold;
	line-height: 2;
}

.template10 tbody > tr:nth-child(7) td a{
	line-height: 4.5;
	border: 1px solid black;
	font-weight: 700;
	cursor: pointer;
	transition: 0.7s;
	text-decoration: none;
	font-size: 20px;
}

.template10 tbody > tr:nth-child(7) td a:hover {
	transform: scale(0.93);
}

@media(max-width: 768px) {
	.template10 {
		width: 100%;
	}
}

/* TEMPLATE 11 */

.template11 {
	width: 35%;
	border: 2px solid lightgray;
	padding: 8px 16px;
	margin: 8px auto;
	transition: 1s;
	overflow-x: auto;
}

.template11 table {
	border: 0;
	width: 100%;
	border-collapse: collapse;
	text-align: center
}

.template11 table tr{
	line-height: 2.5;
}
 
.template11 table tr:nth-child(2) td {
	font-size: 24px;
}

.template11 table tr:nth-child(3) td img {
	width: 100px !important;
	margin: 16px 0;
}

.template11 table tr:nth-child(4) td a{
	border: 1px solid black;
	cursor: pointer;
	transition: 0.7s;
	text-decoration: none;
	font-size: 20px;
	line-height: 3.5;
}

.template11 table tr:nth-child(4) td a:hover {
	transform: scale(0.93);
}

@media(max-width: 768px) {
	.template11 {
		width: 100%;
	}
}

/* TEMPLATE 12 */

.template12 {
	width: 100%;
	margin: 4px auto;
	display: flex;
	flex-wrap: wrap;
	transition: 1s;
}

.template12 div {
	width: 100%;
	margin: 0 auto;
	flex-basis: 0;
	flex-grow: 1;
}

.template12 img {
	width: 80%;
}

.template12 div figure  {
	width: 100%;
	height: 100%;
	/* border: 1px solid gray; */
	padding: 8px;
	margin: 0;
	overflow-x: auto;
}

.template12 div figure table {
	width: 100%;
	text-align: center;
}

@media(max-width: 768px) {
	.template12 {
		max-height: 430px;
		overflow: auto;
	}
	.template12 div {
		flex-basis: auto !important;
	}
}

.template12 table{
	border-collapse:collapse;
}

.template12 table tr:first-child td {
	font-weight: bold;
}

.template12 table tr td{
	border:0;
	font-size: 20px;
	line-height: 2.3;
}

.template12 table tr:nth-last-child(2) td{
	font-size: 36px;
	font-weight: bold;
}

.template12 table tr:last-child td a{
	border:1px solid #000;
	font-weight:700;
	transition:.7s;
	font-size:20px;
	text-decoration:none;
	line-height: 3;
}

.template12 table tr:last-child td a:hover {
	transform: scale(0.93);
}

/* TEMPLATE 13 */

.template13 {
	width: 90%;
	display: flex;
	padding: 16px;
	transition: 1s;
	flex-wrap: wrap;
	margin: 0 auto;
}

.template13 > div {
	flex-basis: 0;
	flex-grow: 1;
	text-align: center;
}

.template13 table tr td {
	border: 0;
}

.template13 > div tr:nth-child(2) td {
	font-size: 17.5px;
}

.template13 > div tr:nth-child(2) td:after {
	display:block;
	content:"";
	width: 30%;
	margin: 8px auto;
    border-top: 1px solid gray;
}
.template13 > div tr:nth-child(3) td {
	font-size: 13.5px;
}

/* TEMPLATE 14 */

.template14 {
	width: 70%;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	margin: 0 auto;
	transition: 1s;
}

.template14 img {
	width: 100% !important;
	max-height: 230px;
}

.template14 table tr td {
	border: 0;
	padding: 8px 16px;
}

.template14 table tr:nth-child(2) td {
	line-height: 2;
	font-size: 28px;
	font-weight: bold;
}

.template14 table tr:nth-child(n+3) td {
	font-size: 16px;
	text-align: left;
}

.template14 table tr:nth-child(n+4) td {
	text-align: center;
	line-height: 1.5;
}

.template14 table tr:nth-last-child(2) td {
	font-size: 56px;
}

.template14 table tr:last-child td a{
	border:1px solid #000;
	font-weight:700;
	font-size:20px;
	text-decoration:none;
	line-height:3.5;
	transition: 0.7s;
}

@media(max-width: 768px) {
	.template14 {
		width: 100%;
	}
	.template14 table tr:nth-child(2) td {
	line-height: 1.3;
	font-size: 26px;
	font-weight: bold;
	}
	.template14 table tr:nth-child(n+3) td {
	text-align: center;
	}
}

/* TEMPLATE 15 */

.template15 {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.template15 > div {
	width: 100%;
	flex-basis: 0;
	flex-grow: 1;
}

.template15 > div figure img {
	width: 100%;
}

.template15 table tr td {
	border: 0;
}

.template15 div:nth-child(2) tr:first-child td {
	font-size: 26px;
	font-weight: bold;
	line-height: 2;
}

.template15 div:nth-child(2) tr:nth-child(2) td {
	font-size: 13.5px;
}

.template15 div:nth-child(2) tr:nth-child(3) td {
	font-size: 32px;
	line-height: 2;
}

.template15 div:nth-child(2) tr:nth-child(4) td a{
	border: 1px solid #000;
	font-weight: 700;
	font-size: 16px;
	text-decoration: none;
	line-height: 3.5;
	transition: 0.7s;
}

.template15 .wp-block-column:not(:first-child) {
	margin-left: 16px;
}

@media(max-width: 920px) {
	.template15 .wp-block-column {
		flex-basis: 100% !important;
		display: flex;
		flex-wrap: wrap;
	}
	.template15 div:nth-child(2) tr td {
		text-align: center;
	}
}
