/* TEMPLATE 1 */
.template1 {
    display: flex;
    align-items: center;
	width: 100%;
	background: #faf5f0;
	border: 1px solid gray;
	box-shadow: 0px 3px 3px #611905;
	margin: 8px auto;
	padding: 24px 10px;
	text-align: center;
	transition: 1s;
}

.template1 > div:first-child {
	flex-basis: 34% /* !important */;
	width: 100% /* !important */;
}

.template1 > div:first-child img {
	width: 75%;
}
.template1 > div:nth-child(2) {
	flex-basis: 40%;
}
.template1 > div:nth-child(3) {
	flex-basis: 25%;
}

.template1 .wp-block-column .wp-block-image {
	margin: 16px;
}

.wp-block-column:not(:first-child) {
    margin-left: 0px;
}

.wp-block-buttons .wp-block-button {
	margin: 0;
}

.template1 .wp-block-column .wp-block-buttons .wp-block-button a {
	padding: 10px 20px;
	border: 2px solid black;
	color: white;
	font-size: 20px;
	transition: 1s;
}

.template1 .wp-block-column .wp-block-buttons .wp-block-button a:hover {
	border: 2px solid black;
	color: white;
	transform: scale(1.15);
	cursor: pointer;
}

.template1 .wp-block-column ul li {
	margin: 16px 0;
	text-align: center;
	font-size: 18px;
}

.template1 .wp-block-column ul li::marker {
	color: #172815;
	font-size: 23px;
}

@media (max-width:768px) {
	.template1 {
		flex-wrap: wrap;
	}
	.template1 > div{
	 	flex-basis: 100% !important;
		 align-self: center;
	}
	.template1 .wp-block-column .wp-block-buttons .wp-block-button {
		margin-top: 24px;
	}
}


/* TEMPLATE 2 */

.template2 {
	width: 100%;
	min-height: 217px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	border: 2px solid #34d399;
	padding: 8px;
	background: #faf5f0;
	border: 1px solid gray;
	box-shadow: 0px 3px 3px #611905;
	transition: 1s;
}

.template2 > div {
	flex-basis: 50%;
}

.template2 h3 {
	margin-left: 40px;
	font-size: 30px;
}

@media(max-width: 768px) {
	.template2 h3 {
		margin-left: 8px;
	}
}

.template2 > div:first-child h3  {
	color: #1b4d1b;
}

.template2 > div:nth-child(2) h3 {
	color: #962424;
}

.template2 ul > * {
	text-align: center;
}

.template2 ul li {
	margin: 10px 0;
	font-size: 20px;
	list-style-position:inside;
}


/* TEMPLATE 3*/

.template3 {
	width: 100%;
	margin: 0 auto;
	border: 1px solid lightgray;
	padding: 10px;
	overflow-x: auto;
	background-color: #ebeff4;
	transition: 1s;
	text-align: center;
}

.template3 table {
	width: 100%;
	border-collapse: collapse;
}

.template3 tbody > tr:first-child td {
	font-size: 28px;
	line-height: 3;
}

@media(max-width: 768px) {
	.template3 tbody > tr:first-child td {
		line-height: 1.5;
	}
	.template3 tbody > tr:nth-child(2) td {
		display: block;
		margin: 16px 0;
	}
	.template3 tbody > tr:nth-child(3) td a{
		width: 95% !important;
	}
}

.template3 tbody > tr:nth-child(3) td a{
	display: block;
	width: 40%;
	margin: 20px auto;
	padding: 10px 16px;
	background-color: #824cc2;
	color: white;
	font-size: 20px;
	text-decoration: none;
	transition: 1s;
}

/* TEMPLATE 4 */

.template4 {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 3px 12px;	
	box-shadow: 0px 3px 3px #611905;
	transition: 1s;
}

.template4 > div {
	flex-grow: 1;
	flex-basis: 0;
	word-break: break-word;
	overflow-wrap: break-word;
	margin: 0px 16px;
}

.template4 h4{
	font-size: 23px;
	text-align: center;
}

.template4 > div:first-child h4 {
	color: #274323;
	border-bottom: 3px solid #274323;
	border-collapse: separate;
	border-spacing: 50px;
	margin: 16px 16px 24px 0px;
}


.template4 > div:nth-child(2) h4 {
	color: #b02e2e;
	border-bottom: 3px solid #b02e2e;
	margin: 16px 0px 24px 16px;
}

.template4 > div:first-child h5 {
	color: #274323;
	margin: 0;
}

.template4 > div:nth-child(2) h5 {
	color: #b02e2e;
}

.template4 ul li {
	margin: 24px 0;
}

.template4 ul {
	list-style: none;
	padding-left: 0px;
}

/* TEMPLATE 10 */

.template10 {
	width: 50%;
	margin: 8px auto;
	border: 2px solid black;
	overflow-x: auto;
	transition: 1s;
}

.template10 table {
	width: 100%;
	border-collapse: collapse;
	text-align: center
}

.template10 tbody > tr:first-child td {
	line-height: 3;
	border: 1px dashed black;
	font-size: 22px;
	font-weight: bold;
}

.template10 tbody > tr:nth-child(2) td {
	line-height: 3;
}

.template10 tbody > tr:nth-child(3) td{
	font-size: 54px;
	font-weight: bold;
	line-height: 2;
}

.template10 tbody > tr:nth-child(n+4) td{
	font-weight: bold;
	line-height: 2;
}

.template10 tbody > tr:nth-child(7) td a{
	width: 50%;
	display: block;
	line-height: 2;
	padding: 8px 24px;
	border: 1px solid black;
	margin: 24px auto;
	color: white;
	font-weight: 700;
	cursor: pointer;
	transition: 0.7s;
	text-decoration: none;
	font-size: 20px;
}

/* TEMPLATE 11 */

.template11 {
	width: 45%;
	border: 2px solid lightgray;
	padding: 8px 16px;
	margin: 8px auto;
	transition: 1s;
	overflow-x: auto;
}

.template11 table {
	border: 0;
	width: 100%;
	border-collapse: collapse;
	text-align: center
}

.template11 table tr{
	line-height: 2.5;
}
 
.template11 table tr:nth-child(2) td {
	font-size: 24px;
}

.template11 table tr:nth-child(3) td img {
	width: 100px !important;
	height: 90%;
}

.template11 table tr:nth-child(4) td a{
	display: block;
	width: 50%;
	margin: 0 auto;
	border: 1px solid black;
	background-color: #272c30;
	color: white;
	cursor: pointer;
	transition: 0.7s;
	text-decoration: none;
	font-size: 20px;
}